@import './base.css';
@import './reboot.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 8px;
  padding-bottom: 8px;
}

input[type="number"] {
  padding: 8px 0;
  margin-left: 16px;
  box-sizing: border-box;
  font-size: 20px;
  border: 0;
  border-bottom: 1px solid #ccc;
}

:focus {
  outline: none;
}

button {
  background-color: #428bca;
  border-color: #428bca;
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 1px solid #428bca;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Stile al passaggio del mouse */
button:hover {
  background-color: #428bca;
  border-color: #428bca;
  color: #fff;
}

li {
  margin-bottom: 8px;
}

.title {
  text-align: center;
}

.recipe {
  margin-top: 8px;
  text-align: left;
}

.recipe h2 {
  text-align: center;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.ingredients-container {
  text-align: center;
}

.ingredients {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
}

.ingredients .list {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  font-weight: bold !important;
}

.logo {
  width: 512px;
}

.pizza {
  width: 125px;
}

@media only screen and (max-width: 900px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }

  .logo {
    width: 250px;
  }

  .pizza {
    width: 75px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }
}

.quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.btn-qty {
  background-color: #428bca;
  /* Rosso pizza */
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s active;
}

.btn-qty:active {
  transform: scale(0.9);
  /* Effetto pressione */
}

.quantity {
  text-align: center;
  width: 60px;
  font-size: 1.2rem;
}